SYBRA_PORT=8080
SYBRA_SERVER_TARGET=127.0.0.1:8080
SYBRA_SRC_DIR=/opt/sybra/src
SYBRA_BUILD_DIR=/opt/sybra/build
SYBRA_STATIC_DIR=/opt/sybra/build/web
SYBRA_DISABLE_CODEX_SANDBOX=1
HOME=/home/sybra
PATH=/home/sybra/.local/share/mise/shims:/home/sybra/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
